/*ALL IMAGES */
img {
    display: block;
    max-width: 100%;
    height: auto;
}


$primaryColor: #2196F3;
$secondaryBlue: #188CE8;
$white: #FFFFFF;
$black: #212121;
$gray: #757575;
$lighterGray: #AFB1B8;
$darkGray: #2f303a;
$paleWhite: #f5f4fa;
$Roboto: 'Roboto';
$Raleway: 'Raleway';